<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 Magenest. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="barclaycard_direct" xsi:type="const">Magenest\Barclaycard\Model\Ui\ConfigProvider::CODE</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="barclaycard_direct" xsi:type="object">Magenest\Barclaycard\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="barclay_csrf_by_pass" type="Magenest\Barclaycard\Plugin\Framework\App\Request\CsrfByPass" sortOrder="0"/>
    </type>
</config>
