<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_place_after">
		<observer name="lr_artwork_sales_order_place_after" instance="LR\ArtworkDesign\Observer\OrderObserver" />
	</event>
	<event name="checkout_submit_all_after">
		<observer name="lr_artwork_sales_order_generate_xml" instance="LR\ArtworkDesign\Observer\GenerateOrderXml"/>
		<observer name="lr_artwork_sales_order_item_generate_xml" instance="LR\ArtworkDesign\Observer\GenerateOrderItemXml"/>
	</event>
	<event name="multishipping_checkout_controller_success_action">
		<observer name="lr_artwork_multishipping_checkout_controller_success_action_generate_xml"
		instance="LR\ArtworkDesign\Observer\MultiShippingGenerateOrderItemsXml"/>
	</event>
</config>