<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 Magenest. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <resource>Magenest_Barclaycard::settings</resource>
            <group id="magenest_barclaycard" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Barclaycard ePDQ</label>
                <group id="version" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magenest\Barclaycard\Block\Adminhtml\System\Config\Fieldset\Version</frontend_model>
                </group>
                <include path="Magenest_Barclaycard::system/barclaycard_required.xml"/>
                <include path="Magenest_Barclaycard::system/barclaycard_hpp.xml"/>
                <include path="Magenest_Barclaycard::system/barclaycard_direct.xml"/>
            </group>
        </section>
    </system>
</config>
