<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_JobBoard
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webkul_JobBoard::jobboard" title="JobBoard" sortOrder="10" >
                    <resource id="Webkul_JobBoard::jobs" title="Manage Jobs" sortOrder="20" />
                    <resource id="Webkul_JobBoard::categories" title="Manage Categories" sortOrder="30" />
                    <resource id="Webkul_JobBoard::applications" title="View Applications" sortOrder="40" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Webkul_JobBoard::configuration" title="JobBoard Configuration Settings" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
