<?xml version="1.0" ?>
<!--
/**
 * @author    JaJuMa GmbH <info@jajuma.de>
 * @copyright Copyright (c) 2022-present JaJuMa GmbH <https://www.jajuma.de>. All rights reserved.
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<update id="Jajuma::top_level_extensions"
             module="Jajuma_WebpImages"
             resource="Jajuma_General::jajuma_extensions"
             sortOrder="65"
             title="JaJuMa"/>

		<add id="Jajuma_WebpImages::jajuma_webp_images"
			 title="WebP Optimized Images"
			 module="Jajuma_WebpImages"
			 sortOrder="200"
			 resource="Jajuma_WebpImages::config_jajuma_webp"
			 parent="Jajuma::top_level_extensions"/>
		<add id="Jajuma_WebpImages::jajuma_webp_images_configuration"
			 title="Configuration"
			 module="Jajuma_WebpImages"
			 sortOrder="210"
			 parent="Jajuma_WebpImages::jajuma_webp_images"
			 action="admin/system_config/edit/section/webp"
			 resource="Jajuma_WebpImages::config_jajuma_webp"/>

		<update id="Jajuma::extensions"
             module="Jajuma_WebpImages"
             resource="Jajuma_General::jajuma_extensions"
             sortOrder="10000"
             parent="Jajuma::top_level_extensions"
             title="JaJuMa Extensions"/>
		<update id="Jajuma_Extensions::extensions_link"
             title="More JaJuMa Extensions" module="Jajuma_WebpImages"
             sortOrder="10010"
             action="webpimages/extensions"
             parent="Jajuma::extensions"
             resource="Jajuma_General::jajuma_extensions"/>

	</menu>
</config>