<?xml version="1.0" ?>
<!--
/**
 * @author    JaJuMa GmbH <info@jajuma.de>
 * @copyright Copyright (c) 2020 JaJuMa GmbH <https://www.jajuma.de>. All rights reserved.
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="jajuma" sortOrder="400" class="jajuma-tab" translate="label">
            <label>Jajuma</label>
        </tab>
        <section id="webp" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label">
            <label>WebP Image Optimization</label>
            <tab>jajuma</tab>
            <resource>Jajuma_WebpImages::config_jajuma_webp</resource>
            <group id="extension_info" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Extension Information</label>
                <attribute type="expanded">1</attribute>
                <field id="extension_info_text" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <frontend_model>Jajuma\WebpImages\Block\System\Config\Form\Jajuma\Module</frontend_model>
                    <comment><![CDATA[
              <div style="margin:auto;padding:10px;background-color:#f1f1f1;display:inline-block;width:97%;">
                        <div class="box-img" style="width: 20%;float: left;">
                            <a href="https://www.jajuma.de/en" title="Magento 2 WebP Optimized Images Extension" target="_blank">
                <div class="jajuma-extlogo"></div>
                            </a>
                            <strong style="font-size: 10px;">Copyright ©
                                <script>var today = new Date();
                                document.write(today.getFullYear());</script>
                                <a href="https://www.jajuma.de/en" target="_blank">www.jajuma.de</a>
                            </strong>
                            <div style="margin-top: 5px;">
                                <a href="https://www.jajuma.de/en/jajuma-shop/online-shop-with-magento-2-and-hyva-themes" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 400 400"
                                    class="w-10 h-10" width="25" height="25" style="position: relative;top: 5px;">
                                    <rect width="400" height="400" fill="#F6F7FF"></rect>
                                    <path d="M222.131 112.458L237.41 66.8783H290.403L275.043 112.458H222.131Z" fill="#14FFAF"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M158.026 174.716C172.966 162.84 191.165
                                    155.37 211.659 155.37C253.609 155.37 294.409 182.196 294.409
                                    250.953V336H240.776V250.953C240.776 215.516 223.929 202.107 200.933 202.107C181.969
                                    202.107 168.181 213.026 160.516 224.517V336H106.692V115.336H74L91.2077
                                    64H158.026V174.716ZM272.988 109.567L286.407 69.7565H239.485L226.132
                                    109.567H272.988ZM235.338 64H294.409L277.112 115.336H218.13L235.338 64Z"
                                    fill="#0A23B9"></path>
                                    </svg>
                                    <span style="font-size: 16px;font-weight: 900;"> Theme Compatible</span>
                                </a>
                            </div>
                        </div>
                        <div style="width: 77%;float: left;padding-left: 3%;">
                            <div class="name" style="font-size: 16px;">
                                <b>Magento 2 WebP Optimized Images</b> by <a href="https://www.jajuma.de/en" target="_blank"><b>JaJuMa</b></a>
                 <div class="jajuma-minilogo"></div>
                            </div>
                            <hr>
                            <br>
                            <div class="more"><b>More Information About This Extension:</b>
                                <br>
                                <div><a href="https://www.jajuma.de/en/jajuma-develop/extensions/webp-optimized-images-extension-for-magento-2"
                                target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
				                viewBox="0 0 576 512" class="w-10 h-10" width="15" height="15"
				                style="position: relative;top: 2px;">
				                <!--! Font Awesome Free 6.0.0 by @fontawesome - https://fontawesome.com License -
				                https://fontawesome.com/license/free (Icons: CC BY 4.0,
				                Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
				                <path d="M575.8 255.5C575.8 273.5 560.8 287.6 543.8 287.6H511.8L512.5 447.7C512.5
				                450.5 512.3 453.1 512 455.8V472C512 494.1 494.1 512 472 512H456C454.9 512 453.8
				                511.1 452.7 511.9C451.3 511.1 449.9 512 448.5 512H392C369.9 512 352 494.1 352
				                472V384C352 366.3 337.7 352 320 352H256C238.3 352 224 366.3 224 384V472C224 494.1
				                206.1 512 184 512H128.1C126.6 512 125.1 511.9 123.6 511.8C122.4 511.9 121.2 512 120
				                512H104C81.91 512 64 494.1 64 472V360C64 359.1 64.03 358.1 64.09 357.2V287.6H32.05C14.02
				                287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0
				                288.4 0C295.4 0 303.4 2.004 309.5 7.014L564.8 231.5C572.8 238.5 576.9 246.5 575.8
				                255.5L575.8 255.5z"></path></svg> Website</a> |
                                <a href="https://www.jajuma.de/sites/default/files/ckfinder/userfiles/images/jajuma-develop/webp-optimized-images-magento/JaJuMa_WebP_Optimized_Images_Manual_v003.pdf"
                                target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
				                viewBox="0 0 448 512" class="w-10 h-10" width="15" height="15"
				                style="top: 2px;position: relative;">
				                <!--! Font Awesome Free 6.0.0 by @fontawesome - https://fontawesome.com License -
				                https://fontawesome.com/license/free (Icons: CC BY 4.0,
				                Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
				                <path d="M448 336v-288C448 21.49 426.5 0 400 0H96C42.98 0 0 42.98 0 96v320c0 53.02
				                42.98 96 96 96h320c17.67 0 32-14.33 32-31.1c0-11.72-6.607-21.52-16-27.1v-81.36C441.8
				                362.8 448 350.2 448 336zM143.1 128h192C344.8 128 352 135.2 352 144C352 152.8 344.8 160
				                336 160H143.1C135.2 160 128 152.8 128 144C128 135.2 135.2 128 143.1 128zM143.1
				                192h192C344.8 192 352 199.2 352 208C352 216.8 344.8 224 336 224H143.1C135.2 224 128
				                216.8 128 208C128 199.2 135.2 192 143.1 192zM384 448H96c-17.67 0-32-14.33-32-32c0-17.67
				                14.33-32 32-32h288V448z"></path></svg> Manual</a> |
                                <a href="https://www.jajuma.de/en/jajuma-develop/extensions/webp-optimized-images-extension-for-magento-2/webp-images-faq"
                                target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 512 512" class="w-10 h-10" width="15" height="15"
                                style="position: relative;top: 2px;">
                                <!--! Font Awesome Free 6.0.0 by @fontawesome - https://fontawesome.com License -
                                https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1,
                                Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M256 0C114.6 0 0 114.6 0
                                256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7
                                0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208S370.7 464 256 464zM256 336c-18
                                0-32 14-32 32s13.1 32 32 32c17.1 0 32-14 32-32S273.1 336 256 336zM289.1 128h-51.1C199
                                128 168 159 168 198c0 13 11 24 24 24s24-11 24-24C216 186 225.1 176 237.1 176h51.1C301.1
                                176 312 186 312 198c0 8-4 14.1-11 18.1L244 251C236 256 232 264 232 272V288c0 13 11 24
                                24 24S280 301 280 288V286l45.1-28c21-13 34-36 34-60C360 159 329 128 289.1 128z"></path>
                                </svg> FAQ</a> |
                                <a href="https://demo.extension.jajuma.de/"
                                target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
				                viewBox="0 0 512 512" class="w-10 h-10" width="15" height="15"
				                style="position: relative;top: 2px;"><!--! Font Awesome Free 6.0.0 by @fontawesome -
				                https://fontawesome.com License - https://fontawesome.com/license/free
				                (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons,
				                Inc. --><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8
				                87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08
				                166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95
				                15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128
				                128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z">
				                </path></svg> Luma Demo</a> |
				                <a href="https://hyva.extension.jajuma.de/"
				                target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
				                viewBox="0 0 400 400" class="w-10 h-10" width="20" height="20" style="position:
				                relative;top: 5px;">    <rect fill="#fff"></rect>    <path d="M222.131 112.458L237.41
				                66.8783H290.403L275.043 112.458H222.131Z"></path>    <path fill-rule="evenodd"
				                clip-rule="evenodd" d="M158.026 174.716C172.966 162.84 191.165 155.37 211.659
				                155.37C253.609 155.37 294.409 182.196 294.409 250.953V336H240.776V250.953C240.776
				                215.516 223.929 202.107 200.933 202.107C181.969 202.107 168.181 213.026 160.516
				                224.517V336H106.692V115.336H74L91.2077 64H158.026V174.716ZM272.988 109.567L286.407
				                69.7565H239.485L226.132 109.567H272.988ZM235.338 64H294.409L277.112
				                115.336H218.13L235.338 64Z"></path></svg> Hyvä Theme Demo</a>
                                <div style="float: right;">Installed Version: <b>2.1.16</b></div>
                                </div>
                            </div>
                            <hr>
                            <div class="info"><b>Discover More Ideas To Improve Your Store:</b>
                                <div class="more-ideas-list">
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/ultimate-image-optimizer-extension-for-magento-2"
                                       target="_blank">Ultimate Image Optimizer</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/shariff-social-share-buttons-extension-for-magento-2"
                                       target="_blank">Shariff Social Share Buttons</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/prg-pattern-link-masking-for-magento-2"
                                       target="_blank">PRG Pattern Link Masking</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/video-widget-gdpr-extension-for-magento-2"
                                       target="_blank">Video Widget</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/page-preload-extension-for-magento-2"
                                       target="_blank">Page Preload</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/honey-spam-anti-spam-extension-for-magento-2"
                                       target="_blank">Honey Spam Anti-Spam</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/matomo-analytics-extension-for-magento-2"
                                       target="_blank">Matomo Analytics</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/customer-registration-reminder-and-cleanup-extension-for-magento-2"
                                       target="_blank">Customer Registration Reminder & Cleanup</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/category-grid-callouts-extension-for-magento-2"
                                       target="_blank">Category Grid Callouts</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/customer-satisfaction-feedback-extension-for-magento-2"
                                       target="_blank">Customer Satisfaction Feedback</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/auto-select-options-extension-for-magento-2"
                                       target="_blank">Auto Select Options</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/proportional-pro-rata-dynamic-shipping-tax-plus-extension-for-magento-2"
                                       target="_blank">Dynamic Shipping Tax Plus</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/back-forward-cache-extension-for-magento-2"
                                       target="_blank">Back Forward Cache (bfcache)</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/magento-without-elasticsearch-mysql-search-extension-for-magento-2"
                                       target="_blank">MySQL Search</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/resource-hints-preload-critical-resources-assets-extension-for-magento-2"
                                       target="_blank">Preload Critical Resources + Assets</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/git-4-page-builder-extension-for-magento-2"
                                       target="_blank">git 4 Page Builder</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/syntax-highlighter-4-page-builder-extension-for-magento-2"
                                       target="_blank"><b>Free:</b> Syntax Highlighter 4 Page Builder</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/font-awesome-icons-for-hyva-themes-extension"
                                       target="_blank"><b>Free:</b> Awesome Hyvä</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/country-language-flag-icons-for-hyva-themes-extension"
                                       target="_blank"><b>Free:</b> Hyvä Flags</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/customer-navigation-manager-extension-for-magento-2"
                                       target="_blank"><b>Free:</b> Customer Navigation Manager</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/dynamic-shipping-tax-extension-for-magento-2"
                                       target="_blank"><b>Free:</b> Dynamic Shipping Tax</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/hyva-faq-widget-extension-for-hyva-themes"
                                       target="_blank"><b>Free:</b> Hyvä FAQ Widget</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/hyva-pwa-extension-for-magento-2"
                                       target="_blank"><b>Free:</b> Hyvä PWA</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    ]]></comment>
                </field>
                <field id="extension_compat_note" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <frontend_model>Jajuma\WebpImages\Block\System\Config\Form\Jajuma\Module</frontend_model>
                    <comment>
                        <![CDATA[
		                <div style="margin:auto;padding:10px;background-color:#f1f1f1;display:inline-block;width:97%;">
                            <div class="box-img" style="width: 20%;float: left;display: flex;justify-content: flex-end;">
                                <a href="https://www.jajuma.de/en/jajuma-develop/extensions/resource-hints-preload-critical-resources-assets-extension-for-magento-2"
                                   title="Resource Hints for Magento 2 - Preload Critical Resources + Assets" target="_blank">
                                <div class="jajuma-extlogo-pcr"></div>
                                </a>
                            </div>
                            <div style="width: 77%;float: left;padding-left: 3%;">
                                <b>Note:</b><br>This extension is compatible with
                                <b><a href="https://www.jajuma.de/en/jajuma-develop/extensions/resource-hints-preload-critical-resources-assets-extension-for-magento-2"
                                   title="Resource Hints for Magento 2 - Preload Critical Resources + Assets" target="_blank">
                                   Preload Critical Resources + Assets</a></b><br>
                                This extensions allows to improve your Core Web Vitals page experience KPIs even further
                                by using Resource Hints for Preload Critical Resources & Assets incl.
                                Improved Largest Contentful Paint (LCP) images.<br>
                                For LCP images the best available image format will be preloaded automatically
                                (.jpg/.png WebP).<br>
                                For more details please see the
                                <b><a href="https://www.jajuma.de/sites/default/files/ckfinder/userfiles/images/jajuma-develop/preload-critical-resources-assets-magento/JaJuMa_Preload_Critical_Resources_And_Assets_v001.pdf"
				                target="_blank">Manual</a></b>.<br></span>
                            </div>
                        </div>
                    ]]>
                    </comment>
                </field>
            </group>
            <group id="setting" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General Configuration</label>
                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Optimize Image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="check_transparency" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="select">
                    <label>Disable with transparent images</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field  id="clear_cache_webp" translate="label comment" type="button" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clear Webp Image</label>
                    <comment><![CDATA[This button will clear all the generated webp images.]]></comment>
                    <frontend_model>Jajuma\WebpImages\Block\Adminhtml\System\Config\ClearButton</frontend_model>
                </field>
            </group>
            <group id="advance_mode" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Conversion Configuration</label>
                <field id="convert_tool" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                    <label>Conversion Tool</label>
                    <comment>Select the tool to be used for WebP image conversion</comment>
                    <source_model>Jajuma\WebpImages\Model\Config\Source\Tool</source_model>
                </field>
                <field id="path_to_cwebp" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Path to cwebp</label>
                    <validate>validate-cwebp-path</validate>
                    <comment><model>Jajuma\WebpImages\Model\Config\Comment</model></comment>
                    <depends>
                        <field id="convert_tool">cwebp</field>
                    </depends>
                </field>
                <field id="path_to_imagemagick" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Path to imagemagick</label>
                    <validate>validate-imagemagick-path</validate>
                    <comment>Define the path of imagemagick command or leave it empty to use global command "convert". Example: "/usr/local/bin/convert"</comment>
                    <depends>
                        <field id="convert_tool">convert</field>
                    </depends>
                </field>
                <field id="quality" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                    <label>WebP Quality</label>
                    <validate>validate-number validate-zero-or-greater validate-digits</validate>
                    <comment>Define the compression factor applied for webp conversion (from 0 to 100)</comment>
                </field>
                <field id="cwebp_command" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label" type="text">
                    <label>Cwebp Custom Command</label>
                    <validate>validate-cwebp-command</validate>
                    <comment><![CDATA[Example command: -alpha_q 100 -z 9 -m 6 -segments 4 -sns 80 -f 25 -sharpness 0 -strong -pass 10 -mt -alpha_method 1 -alpha_filter fast -o]]></comment>
                    <depends>
                        <field id="convert_tool">cwebp</field>
                    </depends>
                </field>
                <field id="imagemagick_command" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="200" translate="label" type="text">
                    <label>Imagemagick Custom Command</label>
                    <validate>validate-imagemagick-command</validate>
                    <comment><![CDATA[Example command: -quality 100 -define webp:lossless=true,method=6]]></comment>
                    <depends>
                        <field id="convert_tool">convert</field>
                    </depends>
                </field>
                <field id="test_button" translate="label comment" type="button" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Jajuma\WebpImages\Block\Adminhtml\System\Config\TestButton</frontend_model>
                </field>
            </group>
            <group id="native_lazy" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label">
                <label>Native Lazy Loading</label>
                <field id="enable_native_lazy" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enable Native Lazy Loading</label>
                    <comment><![CDATA[If enabled, ' loading="lazy" ' will be added for images converted.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="exclude_native_lazy" translate="label comment" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>Native Lazy Loading Blacklist</label>
                    <comment><![CDATA[<span><b>Exclude images from Native Lazy Loading</b> by a list of comma separated strings (or RegEx).<br>
If the img tag match with any of the strings above, the ' loading="lazy" ' won't be added to that img tag.</span>]]></comment>
                </field>
            </group>
            <group id="professional_mode" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label">
                <label>Advanced Configuration</label>
                <field id="message" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <frontend_model>Jajuma\WebpImages\Block\Adminhtml\System\Config\AdvancedConfiguration</frontend_model>
                    <comment><![CDATA[
                <div class="messages">
        <div class="message message-warning message-demo-mode">
    <b>Note: </b><br><span>For most sites following configs are not needed.<br>
Please use only after checking the manual <a href="https://www.jajuma.de/en/jajuma-develop/extensions/webp-optimized-images-extension-for-magento-2" target="_blank">(Link)</a> and understand what you are doing.
</span>        </div>
    </div>
                ]]></comment>
                </field>
                <field id="exclude_img" translate="label comment" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>Blacklist</label>
                    <comment><![CDATA[<span><b>Exclude images</b> from WebP Conversion by a list of comma separated strings (or RegEx).<br>
If the img tag match with any of the strings above, that img tag won't be converted.<br>
Note: img-tags with <i>data-nowebp="true"</i> are excluded from conversion by default.</span>]]></comment>
                </field>
                <field id="src_tag" translate="label comment" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>Custom src-tag</label>
                    <comment><![CDATA[<span>By default we look at the <b>src</b> attribute to get the image URL and use this for WebP conversion.<br>
If you use some custom attribute for img URL, e. g. in case you are using lazyload on your site, you can use this config to have this converted first.<br>
Example: If your lazyload function uses <b>data-src</b>, just input <i>data-src</i> into this config.<br>
For img tags having a data-src we will then use the data-src image URL for WebP conversion.<br>
For img tags having no data-src, we will still use src attribute for conversion.
</span>]]></comment>
                </field>
                <field id="srcset_tag" translate="label comment" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>Custom srcset-tag</label>
                    <comment><![CDATA[<span>By default we add picture tags using <b>srcset</b> tags.<br>
You can use this config to change this behaviour, e. g. in case you are using lazyload on your site.<br>
Example: If your lazyload function uses <b>data-srcset</b>, just input <i>data-srcset</i> into this config.<br>
The extension will then add picture tags using data-srcset.<br>
!!! Please ensure your lazyload script does support lazyloading for picture-tags !!!
</span>]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>