<?xml version="1.0"?>
<!-- /**
 * @category  Mageants MinOrderCustomerGroup
 * @package   Mageants_MinOrderCustomerGroup
 * @copyright Copyright (c) 2023 Mageants
 * @author    Mageants Team <support@mageants.com>
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
	    <section id="sales">
	    	<resource>Mageants_MinOrderCustomerGroup::minimum_order</resource>
	        <group id="minimum_order" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
	        	<field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
	            <field id="amount" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Amount for Customer Group</label>
                    <frontend_model>Mageants\MinOrderCustomerGroup\Block\System\Config\Form\Field\CustomerMinimum</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
	            </field>
	            <field id="description" translate="label comment" sortOrder="20" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <comment>This message will be shown in the shopping cart when the subtotal (after discount) is lower than the minimum allowed amount. Here %s would be replace by Minimum Order amount for customer Group.</comment>
                </field>
	        </group>
	    </section>
	</system>
</config>