<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <!-- <add id="logicrays::base" title="Logicrays" module="LR_ArtworkDesign" sortOrder="30" resource="LR_CountdownTimer::sample"/> -->
        <add id="lr_artworkdesign::test" title="Artwork Design" module="LR_ArtworkDesign" sortOrder="30" parent="logicrays::base" action="lr_artworkdesign/items/" resource="LR_ArtworkDesign::items"/>
    </menu>
</config>
